.logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.app-title{
    text-align: center;
    color: green;
    font-size: 70px;
}

.container{
    color: green;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.input-text{
    display: inline;
    margin: 0;
    border-radius: 0.4rem;
    padding: 10px;
    align-content: center !important;
}

.add-btn{
    color: white;
    background: blue !important;
    margin: 20px;
    padding: 10px;
    border: radius 0.4em; ;
    display: inline-block;
    border: none;
}

.boxes{
margin-left: 320px;
}