<div>
  <img src="../assets/logo.png" 
  alt="placeholder"
  class="logo"
  width="10%"
  height="10%">
  <h1 class="app-title"> List</h1>
</div>
<div class="container">Add a task
<br>
<input type="text"
class="input-text"
placeholder="enter a task"
[(ngModel)]="todoValue"
(keyup.enter)="addTask()"/>
<button class="add-btn" (click)="addTask()">Add Task</button>
<div class="list">
  <ul>
    <li *ngFor="let item of list">
      <input type="checkbox" class="input-text" name="isDone"
      [(ngModel)]="item.isDone">
      {{item.value}} <button class="btn" (click)="deleteTask(item.id)">Delete</button>
    </li>
  </ul>
</div>
</div>